<% basket_colors = @product.option_types.find_by_name("basket-color").option_values %>
<% basket_sizes = @product.option_types.find_by_name("basket-size").option_values %>
<%= hidden_field_tag "disabled", @product.basket_left.nil? && @product.basket_right.nil? && @product.basket_size.nil? ? true : false %>
<div id="custom-basket">
  <div class="col-xs-4 text-center">
    <h3 class="select-subtitle">left basket color</h3>

    <ul class="col-xs-12 basket left-basket list-inline">
      <% basket_colors.each do |value| %>
        <% classes = ["option-value"] %>
        <% css_classes = 'select' if value.name == @product.basket_left %>
        <% classes << 'with-image' if value.has_image? %>
        <li value="<%= value.name %>" class="square-boxes <%= css_classes %> left_basket" style="background-color:<%= value.presentation %>"><%= link_to content_tag(:span), "#", :title => value.name, :class => classes.join(" ") %></li>
      <% end %>
      <%= hidden_field_tag "product[basket_left]", @product.basket_left %>
    </ul>
  </div>

  <div class="col-xs-4 text-center">
    <h3 class="select-subtitle">right basket color</h3>

    <ul class="col-xs-12 basket right-basket list-inline">
      <% basket_colors.each do |value| %>
        <% classes = ["option-value"] %>
        <% css_classes = 'select' if value.name == @product.basket_right %>
        <% classes << 'with-image' if value.has_image? %>
        <li value="<%= value.name %>" class="square-boxes <%= css_classes %> right_basket" style="background-color:<%= value.presentation %>"><%= link_to content_tag(:span), "#", :title => value.name, :class => classes.join(" ") %></li>
      <% end %>
      <%= hidden_field_tag "product[basket_right]", @product.basket_right %>
    </ul>
   
  </div>  

  <div class="col-xs-3 text-center basket-sizes">
    <h3 class="select-subtitle">basket size</h3>

    <ul class="col-xs-12 basket basket-size list-inline">
      <% basket_sizes.each do |value| %>
        <% classes = ["option-value"] %>
        <% css_classes = 'select' if value.presentation == @product.basket_size %>
        <% classes << 'with-image' if value.has_image? %>
        <li value="<%= value.presentation %>" class="square-boxes <%= css_classes %>">
          <%= link_to value.has_image? ? image_tag(value.image.url, :alt => value.presentation) : content_tag(:span, value.presentation), "#", :title => value.presentation, :class => classes.join(" ") %>
          <h6> <%= value.presentation %> </h6>
        </li>
      <% end %>
      <%= hidden_field_tag "product[basket_size]", @product.basket_size %>
    </ul>
  </div>  
</div>
