<% content_for :page_title do %>
  Category Content
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:category_field), new_admin_category_path, { :class => "btn-success", :icon => 'add', :id => 'admin_new_product' } %>
<% end if can?(:create, Spree::Product) %>

<table class="table" id="listing_products">
  <tbody>
    <% @cms_fields.each do |product| %>
        <tr >
          <td> <%= product.product_title %> </td>
          <td> <%= product.category %> </td>
          <% if !product.images.empty? %>
            <td> <%= link_to image_tag(product.images.first.attachment.url(:mini)) %> </td>
          <% end %>
          <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
            <%= link_to "edit", edit_admin_category_path(product), class: 'edit' if can?(:edit, product) %> | 
            <%= link_to "delete", admin_category_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "jumbotron-icon pull-right" %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
