<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<table class="table" id="cart-detail" data-hook>
  <thead>
  </thead>
  <tbody id="line_items" data-hook>
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
  </tbody>
  <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
    <tr class="cart-subtotal">
      <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, count: @order.line_items.sum(:quantity)) %></h5></td>
      <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
      <td></td>
      <%= render "spree/orders/adjustments" %>
    </tr>

  <% end %>
  <tr class="cart-total">
    <td colspan="3">
      <p class='field promo_code' data-hook='coupon_code'>
        <%= order_form.label :have_a_promo_code? %>
        <%= order_form.text_field :coupon_code, :class => 'form-control', placeholder: 'Enter a coupon code?' %>
      </p>
      
    </td>
    <td class="lead" colspan='2' align='right'>
      <div class="top-margin"><h5 class="col-xs-8"><%= Spree.t(:total) %></h5> <span class="col-xs-3"> <%= order_form.object.display_total %> </span></div>
    </td>
  </tr> 
</table>