<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <div id="modal-window" class="modal " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <tr class="line-item">
    <td class="cart-item-image col-xs-2" data-hook="cart_item_image">
      <% if variant.images.length == 0 %>
        <%= link_to product_image(variant.product), variant.product %>
      <% else %>
        <%= link_to image_tag(variant.images.first.attachment.url(:product)), variant.product %>
      <% end %>
    </td>
    <td class="cart-item-description col-xs-6" data-hook="cart_item_description">
      <% if variant.product.is_workshop %>
        <h4 class="col-xs-12"><%= link_to line_item.name, workshop_path(variant.product), class: 'bamboo-color' %></h4>
      <% else %>
        <h4 class="col-xs-12"><%= link_to line_item.name, product_path(variant.product), class: 'bamboo-color' %></h4>
      <% end %>
      <% variant.options_text.split(',').each do |variant| %>
        <h6 class="col-xs-12">
          <% details = variant.split(':') %>
          <b> <%= details.first %> </b> : <%= details.last %>
        </h6>
      <% end %>
      <% if variant.product.is_custom %>
        <h6 class="col-xs-12"><b> custom product </b>  </h6>
        <h6 class="col-xs-12"><b> pole size: </b>  <%= variant.product.pole_size %> </h6>
        <h6 class="col-xs-12"><b> pole size: </b>  <%= variant.product.pole_size %> </h6>
        <h6 class="col-xs-12"><b> basket size: </b>  <%= variant.product.basket_size %> </h6>
        <h6 class="col-xs-12"><b> grip right: </b>  <%= variant.product.grip_right %> </h6>
        <h6 class="col-xs-12"><b> grip left: </b>  <%= variant.product.grip_left %> </h6>
        <h6 class="col-xs-12"><b> basket right: </b>  <%= variant.product.basket_right %> </h6>
        <h6 class="col-xs-12"><b> basket left: </b>  <%= variant.product.basket_left %> </h6>
        <h6 class="col-xs-12"><b> tip left: </b>  <%= variant.product.tip_left %> </h6>
        <h6 class="col-xs-12"><b> tip left: </b>  <%= variant.product.tip_left %> </h6>
        <% if !variant.product.custom_engraving.nil? &&  !variant.product.custom_engraving.empty? %> 
          <h6 class="col-xs-12"><b> custom engraving: </b>  <%= variant.product.custom_engraving %> </h6>
          <h6 class="col-xs-12"><b> engraving font: </b>  <%= variant.product.engraving_font %> </h6>
        <% end %>
      <% end %>

      <% if !variant.engraving.nil?  and !variant.engraving.empty? %>
        <h6 class="col-xs-12"><b> engraving: </b>  <%= variant.engraving %> </h6>
      <% end %>
      
      <% if !variant.workshop_date.nil? %>
        <h6 class="col-xs-12"><b> workshop date: </b>  <%= variant.workshop_date %> </h6>
      <% end %>

      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
        </span>
      <% end %>
      <h6 class="col-xs-12 line-item-description" data-hook="line_item_description">
        <b> description </b> : <%= line_item_description_text(line_item.description) %>
      </h6>

      <h5 class="cart-item-delete col-xs-12" data-hook="cart_item_delete">
        <% unless variant.product.is_custom %>
          <%= link_to 'Edit |', edit_product_path(id: variant.product.id, line_item: line_item.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'data-dev' => "#{line_item.id}", class: 'bamboo-color'}%>
        <% end %>
        <%= link_to content_tag(:span, 'Remove', class: 'bamboo-color'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" 
        %> 
      </h5>
    </td>
    <td class="lead col-xs-2 cart-item-price text-center" data-hook="cart_item_price">
      <h6>
        Unit Price: </br>
        <%= line_item.single_money.to_html %>
      </h6>
    </td>
    <td class="cart-item-quantity col-xs-2" data-hook="cart_item_quantity" valign="center">
      <h6> Qty: </h6> <%= item_form.number_field :quantity, min: 0, class: "form-control line_item_quantity", size: 5 %>
      <%= button_tag class: 'btn btn-link', id: 'update-button' do %> <%= Spree.t(:update) %> <% end %>
    </td>
    <td class="lead text-primary cart-item-total bamboo-color" data-hook="cart_item_total">
      <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
    </td>
  </tr>
<% end %>
