<% content_for :page_title do %>
  <%= Spree.t(:home_page) %>
<% end %>

<%= form_for @cms_field, :url => url_for(:controller => 'home', :action => 'update')  do |f| %>
  <fieldset>
    <div class="cms_booleans row">
      <div class="col-xs-3">
        <%= f.field_container :category_top do %>
          <%= f.label :category_top, raw(Spree.t(:category_top)) %>
          <%= f.check_box :category_top,  {}, 'true', 'false' %>
          <%= f.error_message_on :category_top %>
        <% end %>
      </div>
      <div class="col-xs-3">
        <%= f.field_container :category_bottom do %>
          <%= f.label :category_bottom, raw(Spree.t(:category_bottom)) %>
          <%= f.check_box :category_bottom,  {}, 'true', 'false' %>
          <%= f.error_message_on :category_bottom %>
        <% end %>  
      </div>
      <div class="col-xs-3">
        <%= f.field_container :is_banner do %>
          <%= f.label :is_banner, raw(Spree.t(:is_banner)) %>
          <%= f.check_box :is_banner,  {}, 'true', 'false' %>
          <%= f.error_message_on :is_banner %>
        <% end %>
      </div>
      <div class="col-xs-3">
        <%= f.field_container :is_slider do %>
          <%= f.label :is_slider, raw(Spree.t(:is_slider)) %>
          <%= f.check_box :is_slider,  {}, 'true', 'false' %>
          <%= f.error_message_on :is_slider %>
        <% end %>  
      </div>
      
    </div>
    
    <div data-hook="admin_product_form_name">
      <%= f.field_container :product_title, class: ['form-group'] do %>
        <%= f.label :product_title, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required')) %>
        <%= f.text_field :product_title, class: 'form-control title' %>
      <% end %>
    </div>

    <%= f.field_container :content, :class => ['form-group'] do %>
      <%= f.label :content, Spree.t(:content) %> <span class="required">*</span>
      <%= f.text_area :content, :rows => 6, :class => 'form-control title', :id => "cms_content_area" %>
      <%= f.error_message_on :content %>
    <% end %>

    <% if @cms_field.images.count > 0 %>
      <div data-hook="file" class="form-group">
        <table class="table" id="listing_products">
          <thead>
            <tr>
              <td>Images</td>
              <td>Url</td>
              <td>File</td>
              <td>Destroy</td>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :images do |ff| %>
              <tr >
                <td> <%= image_tag(ff.object.attachment.url(:small)) %> </td>
                <td><%= ff.text_area :alt, :rows => 1, :class => 'form-control' %> </td>
                <td><%= ff.label :attachment, Spree.t(:filename) %>
                    <%= ff.file_field :attachment %></td>
                <td> 
                  <% if ff.object.persisted? %>
                    <%= ff.check_box :_destroy %>
                    <%= ff.label :_destroy, "Destroy" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'refresh', 'submit', {class: 'btn-success'} %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_home_index_path, :icon => 'delete' %>
    </div>


  </fieldset>
<% end %>
