<% grip_colors = @product.option_types.find_by_name("grip-color").option_values %>
<% left_grips = Spree::Product.find_by_slug("left-grip") %>
<% right_grips = Spree::Product.find_by_slug("right-grip") %>
<% left_baskets = Spree::Product.find_by_slug("left-basket") %>
<% right_baskets = Spree::Product.find_by_slug("right-basket") %>
<% right_tips = Spree::Product.find_by_slug("right-tip") %>
<% left_tips = Spree::Product.find_by_slug("left-tip") %>
<% custom_styles = Spree::Product.find_by_slug("custom-styles") %>

<div class="steps-nav col-sm-12" data-hook="product_progress">
  <div class="col-xs-1 sp-logo"><%= image_tag "spree/frontend/sp-logo.png" %></div>
  <div class="col-xs-11"><%= product_progress %></div> 
</div>

<nav class="navbar navbar2 ">
  <div class="container">
    <div class="text-center">
      <% blue_classes = 'hidden' if !@product.basket_right.nil? %>
      <%= image_tag 'spree/frontend/blue-basket.png', :class => "overlap blue-basket #{blue_classes}" %>
      <% custom_styles.images.each do |image| %>
        <% css_classes = 'hidden' if image.alt != @product.name %>
        <%= image_tag image.attachment(:original), :class => "overlap #{css_classes} style", alt: image.alt %>  
      <% end %>

      <% left_grips.images.each do |image| %>
        <% css_classes = 'hidden' if image.alt != @product.grip_left %>
        <%= image_tag image.attachment(:original), :class => "overlap #{image.alt} #{css_classes} left-overlap grip"%>  
      <% end %>
      <% right_grips.images.each do |image| %>
        <% css_classes = 'hidden' if image.alt != @product.grip_right %>
        <%= image_tag image.attachment(:original), :class => "overlap #{image.alt} #{css_classes} right-overlap grip"%>  
      <% end %>
      <% left_baskets.images.each do |image| %>
        <% css_classes = 'hidden' if image.alt != @product.basket_left %>
        <%= image_tag image.attachment(:original), :class => "overlap #{image.alt} #{css_classes} left-overlap basket"%>  
      <% end %>
      <% right_baskets.images.each do |image| %>
        <% css_classes = 'hidden' if image.alt != @product.basket_right %>
        <%= image_tag image.attachment(:original), :class => "overlap #{image.alt} #{css_classes} right-overlap basket"%>  
      <% end %>
      <% left_tips.images.each do |image| %>
        <% css_classes = 'hidden' if image.alt != @product.tip_left %>
        <%= image_tag image.attachment(:original), :class => "overlap #{image.alt} #{css_classes} left-overlap tip"%>  
      <% end %>
      <% right_tips.images.each do |image| %>
        <% css_classes = 'hidden' if image.alt != @product.tip_right %>
        <%= image_tag image.attachment(:original), :class => "overlap #{image.alt} #{css_classes} right-overlap tip"%>  
      <% end %>
      
      <%= image_tag @product.images.first.attachment.url(:original), :itemprop => "image", :class => "top_image" %>
    </div>
    <hr>
    <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "jumbotron-icon pull-right" do %>
      <i class="fa fa-trash-o fa-3x"></i>
    <% end %>
    <%= link_to '', :class => "jumbotron-icon pull-right" do %>
      <i class="fa fa-floppy-o fa-3x"></i>
    <% end %>
  </div>
</nav>
<div id="custom-section">
  <% if @product.state == "engraving"  %>
    <%= form_for :order, :url => populate_orders_path do |f| %>
      <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <%= render partial: "spree/products/steps/#{@product.state}", locals: { f: f } %>
        <%= hidden_field_tag "product_id", @product.id %>
        <%= hidden_field_tag "variant_id", @product.master.id %>
        <% if @product.price_in(current_currency) and !@product.price.nil? %>
          <div data-hook="product_price" >
            <div id="product-price">
              <% if @product.master.can_supply? %>
                <link itemprop="availability" href="https://schema.org/InStock" />
              <% elsif @product.variants.empty? %>
                <br />
                <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
              <% end %>
            </div>

            <div class="add-to-cart final-step">
              <br/>
              <div class="input-group">
                <span class="input-group-btn">
                  <%= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1%>
                  <%= button_tag :class => 'btn btn-success', :id => 'continue-button', :type => :submit do %>
                    <%= Spree.t(:add_to_cart) %>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        <% else %>
          <div id="product-price">
            <br>
            <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
          </div>
        <% end %>
      </div>
    <% end %>  
  <% else %>
    <%= form_for @product do |f| %>
      <%= render partial: "spree/products/steps/#{@product.state}", locals: { f: f } %>
      <%= hidden_field_tag "product_id", @product.id %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
      <div class="col-xs-3 pull-right continue-button">
        <div class="add-to-cart">
          <%= f.button 'Next', :class => "btn btn-success", :id => "continue-button" %>
        </div>
      </div>
    <% end  %>
  <% end %>
</div>
<%= render 'spree/shared/inspired' %>
