<div class="steps-nav col-sm-12" data-hook="product_progress">
  <div class="col-xs-1 sp-logo"><%= image_tag "spree/frontend/sp-logo.png" %></div>
  <div class="col-xs-11"><%= product_progress %></div> 
</div>

<nav class="navbar navbar2 ">
  <div class="container">
    <div class="text-center">
      <%= image_tag "spree/frontend/green-basket.png", :class => 'overlap righ-overlap hidden'%>
      <%= image_tag "spree/frontend/orange-basket.png", :class => 'overlap left-overlap hidden' %>
      <%= image_tag @product.images.first.attachment.url(:original), :itemprop => "image", :class => "top_image" %>
    </div>
    <hr>
    <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "jumbotron-icon pull-right" do %>
      <i class="fa fa-trash-o fa-3x"></i>
    <% end %>
    <%= link_to '', :class => "jumbotron-icon pull-right" do %>
      <i class="fa fa-floppy-o fa-3x"></i>
    <% end %>
  </div>
</nav>
<div id="custom-section">
  <%= form_for @product do |f| %>
    <%= render partial: "spree/products/steps/#{@product.state}", locals: { f: f } %>
    <%= hidden_field_tag "product_id", @product.id %>
    <div class="col-xs-3 pull-right continue-button">
      <div class="add-to-cart">
        <%= f.button 'Continue', :class => "btn btn-success", :id => "continue-button" %>
      </div>
    </div>
  <% end  %>  
</div>
<%= render 'spree/shared/inspired' %>