<% @body_id = 'product-details' %>

<div class="container" id="individual-products">
  <% cache cache_key_for_product do %>
    <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
      <div class="col-xs-8" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div id="main-image" data-hook>
              <div class="panel-body text-center">
                <%= render :partial => 'image' %>
              </div>
            </div>
            <div class="text-center" id="thumbnails" data-hook>
              <%= render :partial => 'thumbnails' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap">
          <div id="product-description" data-hook="product_description">
            <h1 class="product-title" itemprop="name"><%= @product.name.upcase %></h1>

            <h3 class="product-category">
              <% @product.taxons.each do |taxon| %>
                <%= taxon.name.upcase %>
              <% end %>
            </h3>
            <hr>
            <h2 class="price selling" itemprop="price">
              <%= display_price(@product) %>
            </h2>
            <div class="product-description" itemprop="description" data-hook="description">
              <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
            </div>
            <div class="row">
              <a class="learn-more" href="#">Learn More</a>              
            </div>
            
            <%= render 'spree/shared/ratings', product: @product, review: 0 %>
            <hr>

            <div id="cart-form" data-hook="cart_form">
              <%= render :partial => 'cart_form' %>
            </div>


          </div>

          <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
            <%= render :partial => 'taxons' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-8 product-tabs">

            <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="btn-wood active"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">
        <icon class="fa fa-archive"></icon> Properties</a></li>
        <li class="btn-wood" role="presentation"><a href="#reviews_tab" aria-controls="reviews_tab" role="tab" data-toggle="tab">
        <icon class="fa fa-comments"></icon> Reviews </a></li>
        <li class="btn-wood" role="presentation"><a href="#promotions_tab" aria-controls="promotions_tab" role="tab" data-toggle="tab"><icon class="fa fa-usd"></icon> Promotions</a></li>
        <li class="btn-wood" role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><icon class="fa fa-search-plus"></icon> Size Info</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="properties">
          <div data-hook="product_properties">
            <%= render :partial => 'properties' %>
          </div>  
        </div>
        <div role="tabpanel" class="tab-pane fade" id="reviews_tab">
          <div data-hook="product_reviews">
            <%= render :partial => 'spree/shared/reviews' %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="promotions_tab">
          <div data-hook="promotions">
            <%= render :partial => 'promotions' %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
      </div>

    </div>

    <div id="instagram_photos" class="col-xs-4">
      <% instagram_photos_for_tag('soulpoles')[3..6].each do |soulpole| %>
        <div class="instagram-image">
          <a href="<%= soulpole.full %>" data-toggle="lightbox" data-gallery="multiimages">
            <%= image_tag soulpole.full %>
          </a>
        </div>
      <% end %>
    </div>

    <div class="row items-related">
      <% if !@product.relations.empty? %>
        <h4> YOU MAY ALSO LIKE</h4>
      
        <ul class="related-entries related-list">
          <% @product.relations[0..2].each do |relation| %>
            <% related_product = Spree::Product.find_by_id( relation.related_to_id ) %>
            <li class="related-product"> 
              <div class="relatedinner text-center">
                <%= link_to product_image(related_product), product_path(related_product) %>    
                <div class="edd-the-price">
                  <%= related_product.price %>
                </div>
                <%= link_to related_product.name, product_path(related_product), :class => "related-entry-title" %>
              </div>
              
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

  <% end %>  
</div>
