<% @body_id = 'product-details' %>

<div class="container" id="individual-products">
  <% cache cache_key_for_product do %>
    <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
      <div class="col-xs-8" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div id="main-image" data-hook>
              <div class="panel-body text-center">
                <%= render :partial => 'image' %>
              </div>
            </div>
            <div class="text-center" id="thumbnails" data-hook>
              <%= render :partial => 'thumbnails' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap">
          <div id="product-description" data-hook="product_description">
            <h1 class="product-title" itemprop="name"><%= @product.name.upcase %></h1>
            <h3 class="product-category">
              <% @product.taxons.each do |taxon| %>
                <%= taxon.name.upcase %>
              <% end %>
            </h3>

            <div class="reviews_link">
              <%= render 'spree/shared/ratings', product: @product, review: 0 %>
              <a class="customers-reviews" href=""> <%= pluralize(@product.reviews.count, 'customer review') %> </a>  
            </div>
            
            <hr>
            <h3 class="price selling" itemprop="price">
              <%= display_price(@product) %>
            </h3>
            <div class="product-description" itemprop="description" data-hook="description">
              <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
            </div>
            
            <hr>

            <div id="cart-form" data-hook="cart_form">
              <%= render :partial => 'cart_form' %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 product-tabs">

            <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active" role="presentation"><a href="#reviews_tab" aria-controls="reviews_tab" role="tab" data-toggle="tab"> Reviews </a></li>
        <li role="presentation"><a href="#specs" aria-controls="specs" role="tab" data-toggle="tab"> Specs</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="reviews_tab">
          <div data-hook="product_reviews">
            <div class="yotpo yotpo-main-widget"
              data-product-id= <%= @product.slug %> 
              data-name= <%= @product.name %>
              data-url="The url to the page where the product is url escaped"
              data-image-url= <%= @product.images.first.attachment(:small) %>
              data-description="Product description">
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="specs">
          <div data-hook="product_properties">
            <%= render :partial => 'properties' %>
          </div>  
        </div>
      </div>

    </div>

    <div id="taxon-crumbs" class="col-xs-8 five " data-hook="product_taxons">
      <%= render :partial => 'taxons' %>
    </div>

    <div class="col-xs-12 items-related">
      <% if !@product.relations.empty? %>
        <h4> YOU MAY ALSO LIKE</h4>
      
        <ul class="related-entries related-list">
          <% @product.relations[0..2].each do |relation| %>
            <% related_product = Spree::Product.find_by_id( relation.related_to_id ) %>
            <li class="related-product"> 
              <div class="relatedinner text-center">
                <%= link_to product_image(related_product), product_path(related_product) %>    
                <div class="edd-the-price">
                  <%= related_product.price %>
                </div>
                <%= link_to related_product.name, product_path(related_product), :class => "related-entry-title" %>
              </div>
              
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

  <% end %>  
</div>

<script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/0EbCcjmXeH7z3ckunvQSNl2CdbppGxjGNEHfs6XJ/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
