<div class="col-xs-12">
  <table class="table order-product-table">
    <thead>
      <tr data-hook="rma_header">
        <th><%= Spree.t(:product) %></th>
        <th>Thumbnail</th>
        <th>Product Id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @warranty.order.products.each do |product| %>
          <td><%= product.name %></td>
          <td><%= image_tag(product.images.first.attachment.url(:mini)) %></td>
          <td><%= product.id %></td>
        <% end %>
      </tr>
    </tbody>  
  </table>
  <div class="warranty-form col-xs-6 col-xs-offset-3">
    <%= f.field_container :first_name, :class => ['form-group'] do %>
      <%= f.label :first_name, Spree.t(:first_name) %> <span class="required">*</span>
      <%= f.text_field :first_name, :class => 'form-control title' %>
      <%= f.error_message_on :first_name %>
    <% end %>

    <%= f.field_container :last_name, :class => ['form-group'] do %>
      <%= f.label :last_name, Spree.t(:last_name) %> <span class="required">*</span>
      <%= f.text_field :last_name, :class => 'form-control title' %>
      <%= f.error_message_on :last_name %>
    <% end %>

    <%= f.field_container :returned_products_ids, class: ['form-group'] do %>
      <%= f.label :returned_products_ids, Spree.t(:choose_a_product_to_warranty) %>  <span class="required">*</span>
      <%= f.select :returned_products_ids, @warranty.order.products.collect {|r| [r.name, r.id]}, {include_blank: true}, :class => 'form-control select2' %>
      <%= f.error_message_on :returned_products_ids %>
    <% end %>

    <%= f.field_container :reason, class: ['form-group'] do %>
      <%= f.label :reason, Spree.t(:reason) %>  <span class="required">*</span>
      <%= f.select :reason, Spree::ReturnAuthorizationReason.all.collect{|r| r.name}, {include_blank: true}, :class => 'form-control select2' %>
      <%= f.error_message_on :reason %>
    <% end %>

    <%= f.field_container :comments, :class => ['form-group'] do %>
      <%= f.label :comments, Spree.t(:comments) %> 
      <%= f.text_area :comments, :class => 'form-control title', placeholder: "what happened? please give us a brief description of why you are sending your poles in (ex. My poles have a crack, my poles broke, etc…)", rows: 4 %>
    <% end %>

  </div>
</div>