<div id="ambassadors">
  <div class="ambassador-banner">
  </div>  
  

    <div class="col-xs-12 atlethes">
      <h1 class="text-center">Our Atlethes </h1>
      
        <div class="content">
          <!-- trianglify pattern container -->
          <div class="pattern pattern--hidden"></div>
          <!-- cards -->
          <div class="wrapper">
            <% @ambassadors.each do |ambassador| %>
              <div class="card">
                <div class="card__container card__container--closed">
                  <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                      <clipPath id="clipPath1">
                        <!-- r = 992 = hyp = Math.sqrt(960*960+250*250) -->
                        <circle class="clip" cx="960" cy="250" r="992"></circle>
                      </clipPath>
                    </defs>
                    <image clip-path="url(#clipPath2)" width="1920" height="500" xlink:href="<%= ambassador.images.first.attachment.url(:original) %>" ></image>
                  </svg>
                  <div class="card__content">
                    <i class="card__btn-close fa fa-times"></i>
                    <div class="card__caption">
                      <h2 class="card__title"><%= ambassador.name %></h2>
                      <p class="card__subtitle"><%= ambassador.home_town %></p>
                    </div>
                    <div class="card__copy">
                      <div class="meta">
                        <img class="meta__avatar" width="243" height="243" src="<%= ambassador.images.last.attachment.url(:product) %>" alt="author01" />
                        <span class="meta__author"><%= ambassador.name %></span>
                        <span class="meta__date">06/19/2015</span>
                      </div>
                      <p><%= raw ambassador.description %></p>
                    </div>
                  </div>
                </div>
              </div>



            <% end %>
          </div>
        </div>
    </div>
  </div>