<div id="ambassadors">
  <div class="ambassador-banner">
  </div>  
  

    <div class="col-xs-12 atlethes">
      <h1 class="text-center">Our Athletes </h1>
      
        <div class="content">
          <!-- trianglify pattern container -->
          <div class="pattern pattern--hidden"></div>
          <!-- cards -->
          <div class="wrapper">
            <% @ambassadors.each do |ambassador| %>
              <div class="wowitembox">
                <div id="ambassador_<%= ambassador.id %>" class="wowitemboxinner product-list-item" data-hook="ambassador_list" itemscope itemtype="https://schema.org/ambassador" >
                  <div class="imagearea">
                    <%= image_tag ambassador.images.first.attachment.url(:large), :itemprop => "image", :class => "attachment-post-thumbnail wp-post-image ambassador-image"%>
                    <div class="caption">
                      <div class="blur"></div>
                      <div class="caption-text">
                        <div class="captionbuttons">
                          <%= link_to ambassador, :class => "captiondetails" do %>
                            <i class="fa fa-link fa-2x"> VIEW DETAILS </i> 
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="notesarea">
                    <%= link_to ambassador, :class => "captiondetails" do %>
                      <h2><%= ambassador.name[0..22] %></h2>
                    <% end %>
                    
                    <div class="notesbottom">
                      <div class="price pull-left">
                        <%= ambassador.home_town %>
                      </div>
                      <div class="cart pull-right">
                        <a href="#" class="edd-add-to-cart">
                          <span class="edd-add-to-cart-label">show</span>
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <!-- .wowitemboxinner-->
              </div>
              <!-- .wowitembox-->
            <% end %>
          </div>
        </div>
    </div>
  </div>
