<header class="headerimage slider pages">
  <div class="ambassador-back" style="background-image: url('<%= @ambassador.images.first.attachment.url(:original) %>')">
  </div>
</header>
<div class="col-xs-3 ambassador-sidebar">
  <%= render :partial => 'spree/ambassadors/ambassador_sidebar' %>
</div>
<div class="col-xs-9">
  <div class="col-xs-12">
    <h1 class="text-center"><%= @ambassador.name %></h1>
  </div>
  <hr class="divider-ambassador">
  <div class="col-xs-12 ambassador-info">
    <div class="col-xs-2">
      <div class="col-xs-10">
        <span>Website</span>  </br>
        <p><%= @ambassador.website %></p>
      </div>
      <div class="col-xs-10">
        <span>DOB</span> </br>
        <p><%= @ambassador.date_of_birth %></p>
      </div>
      <div class="col-xs-10">
        <span>Hometown</span> </br>
        <p><%= @ambassador.home_town %></p>
      </div>
    </div>
    <div class="col-xs-8  ambassador-description">
      <%= raw @ambassador.description %>
    </div>
    
  </div>
    
</div>
