<% @body_id = 'product-details' %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header" style="border:none;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
      <div class="col-xs-12 edit_product_modal">
        <div id="individual-products">
          <%= hidden_field_tag "line_item", @line_item.id %>
          <% cache cache_key_for_product do %>
            <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
              <div class="col-xs-8" data-hook="product_left_part">
                <div data-hook="product_left_part_wrap">
                  <div id="product-images" data-hook="product_images">
                    <div id="main-image" data-hook>
                      <div class="panel-body text-center">
                        <%= render :partial => 'image' %>
                      </div>
                    </div>
                    <div class="text-center" id="thumbnails" data-hook>
                      <%= render :partial => 'thumbnails' %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-4" data-hook="product_right_part">
                <div data-hook="product_right_part_wrap">
                  <div id="product-description" data-hook="product_description">
                    <h1 class="product-title" itemprop="name"><%= @product.name.upcase %></h1>
                    <h3 class="product-category">
                      <% @product.taxons.each do |taxon| %>
                        <%= taxon.name.upcase %>
                      <% end %>
                    </h3>

                    <hr>
                    <h3 class="price selling" itemprop="price">
                      <%= display_price(@product) %>
                    </h3>
                    <div class="product-description" itemprop="description" data-hook="description">
                      <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
                    </div>
                    
                    <hr>

                    <div id="cart-form" data-hook="cart_form">
                      <%= render :partial => 'cart_form', :variant => @variant %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          <% end %>  
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>  
  </div>
</div>
