<% @taxonomies  = load_taxons.find_by_name("ski") %>
<% @categories = @taxonomies.try(:taxons) %>
<% @hikes = load_taxons.find_by_name("hike").try(:taxons) %>
<nav class="navbar col-xs-10" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ski<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% @categories.try(:each) do |category| %>
          <% unless category.name == 'Categories' %>
            <li> <a href="/t/<%= category.permalink %>"> <%= category.name %></a> </li>
          <% end %>
        <% end %>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hike<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% @hikes.try(:each) do |category| %>
          <% unless category.name == 'hike' %>
            <li>
              <a href="/t/<%= category.permalink %>"> <%= category.name %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Custom<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/products/new">customize your own poles</a></li>
        <li><a href="#">get inspired</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if nav_variables %>
          <% nav_variables.each do |page| %>
            <li><a href="<%= page.slug %> "> <%= page.title %> </a></li>
          <% end %>
        <% end %>
      </ul>
    </li>

    <li><a href="/workshops">Workshops</a></li>
    
    <li id="search-bar" data-hook>
      <%= form_tag spree.products_path, :method => :get, class: "navbar-form" do %>
        <div class="form-group">
          <%= search_field_tag :keywords, params[:keywords], :placeholder => "what are you looking for?", class: "form-control text-center" %>
        </div>
        <%= link_to "#", :onclick => "$('#search-bar form').submit()", :class => "search-icon"  do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </li>
    
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>
  </ul>
</nav>
