<!-- TITLE BEGINS -->
<header class="headerimage slider">
  <% css_bg = 'bg-1' unless @sliders.images %>
  <% css_bg2 = 'bg-2' unless @sliders.images %>
  <% css_bg3 = 'bg-3' unless @sliders.images %>
  <div id="slider" class="carousel slide" >
    <ul class="carousel-indicators">
      <li data-target="#slider <%= css_bg %>" data-slide-to="0" class="active"></li>
      <li data-target="#slider <%= css_bg2 %>" data-slide-to="1"></li>
      <li data-target="#slider <%= css_bg3 %>" data-slide-to="2"></li>
    </ul>
    
    <div class="carousel-inner">
      <div class="item active" style="background-image: url('<%= @sliders.images.first.attachment.url(:original) %>')"></div>
      <div class="item" style="background-image: url('<%= @sliders.images[1].attachment.url(:original) %>')"></div>
      <div class="item" style="background-image: url('<%= @sliders.images.last.attachment.url(:original) %>')"></div>
    </div>
  </div>  
  <div class="overlay">
    <article>
      <h1>SoulPoles</h1>
    </article>
  </div>
</header>

<!-- TITLE ENDS -->

<div class="row">
  <div class="col-xs-12">
    <div class="instagram_photos col-xs-12">
      <a href="http://instagram.com/soulpoles" target="_blank" ><h2 class="text-center maintitle">@Soulpoles</h2></a>
      <% instagram_photos_for_tag('soulpoles')[2..6].each do |soulpole| %>
        <div class="instagram-image">
          <a href="<%= soulpole.full %>" data-toggle="lightbox" data-gallery="multiimages">
            <%= image_tag soulpole.full %>
          </a>
        </div>
      <% end %>
    </div>  
  </div>
</div>

<div class="row get_inspired">
  <a href="/products/new"><img src="" style="background-image: url('<%= @banner.images.first.attachment.url(:original) %>')"> </a>
</div>

<div id="homepagetemplate" class="container padtop10 padbot40">
  <div class="row">
    <div class="col-md-12">
      <div class="clear text-center sectionlatestitems">
        <h2 class="maintitle"> <%= @sliders.product_title.titleize %></h2>
        <div class="separatr">
          <span>
          <a href="/products" class="view-all"><i class="fa fa-reorder"></i></a>
          </span>
        </div>
      </div>
      <div class="wowitemboxlist sectionlatestitems clear">
        
        <% @products[0..3].each do |product| %>
          <div class="wowitembox">
            <div class="wowitemboxinner">
              <div class="imagearea">
                <%= product_image(product, :itemprop => "image", :class => "attachment-post-thumbnail wp-post-image") %>
                <div class="caption">
                  <div class="blur"></div>
                  <div class="caption-text">
                    <div class="captionbuttons">
                      <%= link_to product, :class => "captiondetails" do %>
                        <i class="fa fa-link fa-2x"> VIEW DETAILS </i> 
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notesarea">
                <%= link_to product, :class => "captiondetails" do %>
                  <h2><%= product.name[0..22] %></h2>
                <% end %>
                
                <div class="notesbottom">
                  <div class="price pull-left">
                    <%= product.price  %>
                  </div>
                  <div class="cart pull-right">
                    <a href="#" class="edd-add-to-cart">
                      <span class="edd-add-to-cart-label">Add to Cart</span>
                    </a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!-- .wowitemboxinner-->
          </div>
          <!-- .wowitembox-->
        <% end %>
      </div>
    </div>
  </div>
</div>  

<!-- ================================================== -->
<div class="actionbeforefooter text-center">
  <div class="container">
    <span><i class="fa fa-star fa-spin"></i> Psst! Like what you see? Enter code <b>WOWKAILO10</b> and get 10% discount for your total shopping cart. This week only! </span>
    <a target="_blank" class="actionbutton" href="#">Buy Now </a>
  </div>
</div>
