<% content_for :page_title do %>
  <%= Spree.t(:warranty_request) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_warranty_requests), spree.admin_warranties_path, icon: 'arrow-left', class: 'btn-primary' %>
<% end %>

<div class="col-xs-8 col-xs-offset-2">
  <div class="panel panel-default" data-hook="customer_guest">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= Spree.t(:warranty_request_fields) %>
      </h1>
    </div>
    <div class="panel-body">
      <div class="wararnty-fields row">
        <table class="table table-condensed table-bordered" id="order_tab_summary" data-hook>
          <tbody class="additional-info">
            <tr>
              <td width="35%" data-hook>
                <strong><%= Spree.t(:status) %>:</strong>
              </td>
              <td>
                <span class="state label label-complete">
                  <%= Spree.t(@warranty.status) %>
                </span>
              </td>
            </tr>
            <tr>
              <td data-hook='admin_order_tab_subtotal_title'>
                <strong><%= Spree.t(:first_name) %>:</strong>
              </td>
              <td >
                <%= @warranty.first_name %>
              </td>
            </tr>
            <tr>
              <td data-hook='admin_order_tab_subtotal_title'>
                <strong><%= Spree.t(:last_name) %>:</strong>
              </td>
              <td>
                <%= @warranty.last_name %>
              </td>
            </tr>
            <tr>
              <td data-hook='admin_order_tab_total_title'>
                <strong><%= Spree.t(:order_number) %>:</strong>
              </td>
              <td><%= @warranty.order.number %></td>
            </tr>
            <tr>
              <td data-hook='admin_order_tab_total_title'>
                <strong><%= Spree.t(:reason) %>:</strong>
              </td>
              <td><%= @warranty.reason %></td>
            </tr>
            <tr>
              <td data-hook='admin_order_tab_total_title'>
                <strong><%= Spree.t(:comments) %>:</strong>
              </td>
              <td><%= @warranty.comments %></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <table class="table table-bordered ">
    <thead>
      <thead>
        <th colspan="2"><%= Spree.t(:returned_product) %></th>
        <th width="15%" class="text-center"><%= Spree.t(:price) %></th>
        <th width="15%" class="text-center"><%= Spree.t(:quantity) %></th>
      </thead>
        <% @warranty.order.products.each do |product| %>
          <tr class="stock-item">
            <td class="item-image image text-center">
              <%= image_tag(product.images.first.attachment.url(:mini)) %>
            </td>

            <td class="item-name">
              <%= product.name %> <br>
              <strong><%= Spree.t(:sku) %>:</strong> <%= product.sku %>
            </td>

            <td class="item-price text-center"><%= product.price %></td>

            
            <td class="item-total text-center">
              <%= product.line_items.first.quantity %>
            </td>
          </tr>
        <% end %>
      </thead>
    <tbody></tbody>
  </table>

  <div class="panel panel-default" data-hook="customer_guest">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= Spree.t(:account) %>
      </h1>
    </div>

    <div class="panel-body">
      <div data-hook="customer_fields" class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= @warranty.order.email %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <strong><%= label_tag nil, Spree.t(:guest_checkout) %></strong>
            <% if @warranty.order.completed? %>
              <div>
                <span class="badge">
                  <%= @warranty.order.user.nil? ? Spree.t(:say_yes) : Spree.t(:say_no) %>
                </span>
              </div>
            <% else %>
              <% guest = @warranty.order.user.nil? %>
              <div class="radio no-margint">
                <%= label_tag :guest_checkout_true do %>
                  <%= radio_button_tag :guest_checkout, true, guest %>
                  <%= Spree.t(:say_yes) %>
                <% end %>
              </div>
              <div class="radio">
                <%= label_tag :guest_checkout_false do %>
                  <%= radio_button_tag :guest_checkout, false, !guest, disabled: @order.cart? %>
                  <%= Spree.t(:say_no) %>
                <% end %>
              </div>
              <%= hidden_field_tag :user_id, @order.user_id %>
            <% end %>
          </div>
        </div>
        <div data-hook="bill_address_wrapper" class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title"><%= Spree.t(:billing_address) %></h1>
            </div>

            <div class="panel-body">
              <%= render 'spree/admin/shared/address', address: @warranty.order.bill_address %>
            </div>
          </div>
        </div>
        <div data-hook="bill_address_wrapper" class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title"><%= Spree.t(:billing_address) %></h1>
            </div>

            <div class="panel-body">
              <%= render 'spree/admin/shared/address', address: @warranty.order.ship_address %>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>  
</div>
